body{
   /* background-image: url(images/Geometric.jpg);*/
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    background-color: #940000;
    
}
#container{
    padding-left: 25px;
    padding-right: 25px;
    width: 500px;
    height: 100%; 
    background-color: #B10000;
    border-radius: 15px;
    box-shadow: black;
}
#text{
    margin-left: 255;
}
.label{
   /* margin-left: 25px;*/
    font-family: sans-serif;
    color: white;
}
h1{
    text-align: center;
    color: white;
    font-family:sans-serif;
    background-color: #940000;
    /*background-blend-mode: luminosity;*/
}
.input{
   /* margin-left: 25px;*/
    width: 100%;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
}
.paragraph{
    font-family: sans-serif;
    color:white;
    text-align: center; 
}

}
#gender{
font-size: 16px;
}
#dob{
    font-size: 16px;
    font-family: sans-serif
}
#submit{
    background-color: slategray;
    border-radius: 10px;
}
#submit:hover {
    background-color: mediumseagreen;
    width: 100%;
    height: 38px;
    font-size: 18px;
    cursor: pointer;
   /* padding-left: 10px;
    font-size: 16px;*/
   
}
#tc a{
     text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 16px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#tc a:hover, #tc a.active{
    font-size: 18px;
    /*font-weight: bold;
    color: #B314DB;*/
}
.lastDiv{
 display:flex;
    flex-direction: row;
    font-size: 16px;
    font-family: sans-serif;
    background-color: white;
    color: #B10000;
    position: center;
    padding: 10 95;
}
